/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.05.2014, 15:39:52
    Author     : Florian
*/

#wrapper {
    width: 80%;
    margin: 0px auto;
}